<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-success">
    <a class="navbar-brand" href="/listings">gMAR</a>
 <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/listings">Listings</a>
        <a class="nav-item nav-link" href="/favorites">Favorites</a>
        <a class="nav-item nav-link" href="/listings/create">Create listing</a>
      </div>
    </div>
  </nav>
</header>
