<link rel="stylesheet" href="/styles/_header.css" type="text/css" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bungee&family=Merriweather&family=Montserrat:wght@400;900&family=Sacramento&family=Source+Sans+Pro:ital,wght@0,300;0,600;1,300;1,600&display=swap" rel="stylesheet">


<header>
  <nav class="nav">
    <a class="site-title" href="/listings">GAMR</a>
      <div class="nav-right">
        <a class="link"><%= user.name %></a>
        <a class="link" href="/listings/create">Create listing</a>
        <a class="link" href="/listings">Listings</a>
        <a class="link" href="/favorites">Favorites</a>
      </div>
    </div>
  </nav>
</header>
