<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/listing.css" type="text/css" />
  <title>Listing</title>
</head>
<body>
  <%- include('partials/_header') %>
  <h1>Listing</h1>
  <div class="container">

    <img src="https://compass-ssl.xbox.com/assets/9c/94/9c944d9c-7ef1-4b46-9f68-9b02966d3993.jpg?n=Halo-Infinite_GLP-Page-Hero-0_1083x609.jpg"/>

    <div class="listing">

      <div class="title"><span class="form-title"></span>Halo</div>

      <div class="description"><span class="form-title"></span>no, not that beyonce song</textarea></div>

      <div class="price"><span class="form-title"></span>$ 50</div>

      <div class="bottom-listing">
        <!-- put if conditions here if NOT admin -->
        <button type="submit" class="favorite">Add To Favorites</button>
        <button type="submit" class="mailto">Email Seller</button>

        <!-- put else condition here if admin -->

        <!-- <button type="submit" class="sold">Mark Sold</button>
        <button type="submit" class="remove">Remove Listing</button> -->
      </div>

    </div>

  </div>

  <a class="home" href="/listings">BACK</a>




</body>
</html>

