<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/listings-create.css" type="text/css" />
  <title>Create Listing</title>
</head>
<body>
  <%- include('partials/_header') %>
  <h1>Create Listing</h1>
  <form action="/listings" method="post" id="container">

    <div class="title"><span class="form-title">Title:</span><input type="text" name="title" placeholder="title"></div>

    <div class="discription"><span class="form-title">Description:</span><textarea class="descrip-textarea" name="description" cols="70" rows="7" placeholder="description"></textarea></div>

    <div class="price"><span class="form-title">Price:</span><input type="text" name="price" placeholder="price"></div>

    <div class="imgURL"><span class="form-title">URL:</span><input type="text" name="img" placeholder="img"></div>
  </form>
  <button type="submit" form="container" value="Submit">Submit</button>



</body>
</html>
