<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/listings-create.css" type="text/css" />
  <title>Create Listing</title>
</head>
<body>
  <%- include('partials/_header') %>
  <h1>Create Listing</h1>
  <div class="container">
    <div class="title">Title<input type="text" name="title" placeholder="title"></div>

    <div class="discription">Description<input type="text" name="description" placeholder="discription"></div>

    <div class="price">Price<input type="text" name="price" placeholder="price"></div>

    <div class="imgURL">URL<input type="text" name="imgURL" placeholder="imgURL"></div>
  </div>






</body>
</html>
