<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/listings.css" type="text/css" />
  <title>Listings</title>
</head>
<body>
  <%- include('partials/_header') %>
<h1>Listings</h1>
<section id="listings">

  <div id="listing">
    <div>Call of Duty</div>
    <div><img src="https://news.xbox.com/en-us/wp-content/uploads/sites/2/2022/06/Call-of-Duty-Modern-Warfare-II_Reveal_X1_Wire_Hero_1920x1080-b5aea4e5ca6046ac478e.jpg"
      alt="Call of Duty soldier"
      width="192"
      height="108">
    </div>
    <div id="price">$ 10</div>
  </div>

  <div id="listing">
    <div>Call of Duty</div>
    <div><img src="https://news.xbox.com/en-us/wp-content/uploads/sites/2/2022/06/Call-of-Duty-Modern-Warfare-II_Reveal_X1_Wire_Hero_1920x1080-b5aea4e5ca6046ac478e.jpg"
      alt="Call of Duty soldier"
      width="192"
      height="108">
    </div>
    <div id="price">$ 20</div>
  </div>

  <div id="listing">
    <div>Call of Duty</div>
    <div><img src="https://news.xbox.com/en-us/wp-content/uploads/sites/2/2022/06/Call-of-Duty-Modern-Warfare-II_Reveal_X1_Wire_Hero_1920x1080-b5aea4e5ca6046ac478e.jpg"
      alt="Call of Duty soldier"
      width="192"
      height="108">
    </div>
    <div id="price">$ 30</div>
  </div>

  <div id="listing">
    <div>Call of Duty</div>
    <div><img src="https://news.xbox.com/en-us/wp-content/uploads/sites/2/2022/06/Call-of-Duty-Modern-Warfare-II_Reveal_X1_Wire_Hero_1920x1080-b5aea4e5ca6046ac478e.jpg"
      alt="Call of Duty soldier"
      width="192"
      height="108">
    </div>
    <div id="price">$ 40</div>
  </div>

  <div id="listing">
    <div>Call of Duty</div>
    <div><img src="https://news.xbox.com/en-us/wp-content/uploads/sites/2/2022/06/Call-of-Duty-Modern-Warfare-II_Reveal_X1_Wire_Hero_1920x1080-b5aea4e5ca6046ac478e.jpg"
      alt="Call of Duty soldier"
      width="192"
      height="108">
    </div>
    <div id="price">$ 50</div>
  </div>

  <div id="listing">
    <div>Call of Duty</div>
    <div><img src="https://news.xbox.com/en-us/wp-content/uploads/sites/2/2022/06/Call-of-Duty-Modern-Warfare-II_Reveal_X1_Wire_Hero_1920x1080-b5aea4e5ca6046ac478e.jpg"
      alt="Call of Duty soldier"
      width="192"
      height="108">
    </div>
    <div id="price">$ 60</div>
  </div>

  <div id="listing">
    <div>Call of Duty</div>
    <div><img src="https://news.xbox.com/en-us/wp-content/uploads/sites/2/2022/06/Call-of-Duty-Modern-Warfare-II_Reveal_X1_Wire_Hero_1920x1080-b5aea4e5ca6046ac478e.jpg"
      alt="Call of Duty soldier"
      width="192"
      height="108">
    </div>
    <div id="price">$ 70</div>
  </div>

  <div id="listing">
    <div>Call of Duty</div>
    <div><img src="https://news.xbox.com/en-us/wp-content/uploads/sites/2/2022/06/Call-of-Duty-Modern-Warfare-II_Reveal_X1_Wire_Hero_1920x1080-b5aea4e5ca6046ac478e.jpg"
      alt="Call of Duty soldier"
      width="192"
      height="108">
    </div>
    <div id="price">$ 80</div>
  </div>

  <div id="listing">
    <div>Call of Duty</div>
    <div><img src="https://news.xbox.com/en-us/wp-content/uploads/sites/2/2022/06/Call-of-Duty-Modern-Warfare-II_Reveal_X1_Wire_Hero_1920x1080-b5aea4e5ca6046ac478e.jpg"
      alt="Call of Duty soldier"
      width="192"
      height="108">
    </div>
    <div id="price">$ 90</div>
  </div>

  <div id="listing">
    <div>Call of Duty</div>
    <div><img src="https://news.xbox.com/en-us/wp-content/uploads/sites/2/2022/06/Call-of-Duty-Modern-Warfare-II_Reveal_X1_Wire_Hero_1920x1080-b5aea4e5ca6046ac478e.jpg"
      alt="Call of Duty soldier"
      width="192"
      height="108">
    </div>
    <div id="price">$ 100</div>
  </div>

  <div id="listing">
    <div>Call of Duty</div>
    <div><img src="https://news.xbox.com/en-us/wp-content/uploads/sites/2/2022/06/Call-of-Duty-Modern-Warfare-II_Reveal_X1_Wire_Hero_1920x1080-b5aea4e5ca6046ac478e.jpg"
      alt="Call of Duty soldier"
      width="192"
      height="108">
    </div>
    <div id="price">$ 110</div>
  </div>

  <div id="listing">
    <div>Call of Duty</div>
    <div><img src="https://news.xbox.com/en-us/wp-content/uploads/sites/2/2022/06/Call-of-Duty-Modern-Warfare-II_Reveal_X1_Wire_Hero_1920x1080-b5aea4e5ca6046ac478e.jpg"
      alt="Call of Duty soldier"
      width="192"
      height="108">
    </div>
    <div id="price">$ 120</div>
  </div>


</section>
</body>
</html>
