// See: https://sass-lang.com/
* {
  box-sizing: border-box;
}

// #username {

// }

.fa-gamepad {
  font-size: 50px;
  color: #22aeff;
  outline: black;
}

body,
html{
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: #cdcbcb;

  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  width: 100vw;
}

h1 {
  display: flex;
  justify-content: center;
}

a {
  text-decoration: none;
  &:hover {
    color:grey;
  }
}


nav {
  display: flex;
  background-color: rgb(79, 78, 78);
  justify-content: space-between;
  height: 5em;
  align-items: center;
  padding: 0 25px;
}

.site-title {
  padding-left: 10px;
  color: #f6f6f6;
  font-weight: 800;
  font-size: 5em;
}

.nav-right {
  font-weight: 10;
  display: flex;
  width: 25%;
  font-size: 20px;
  justify-content: flex-end;
  .link {
    color: #f9fafb;
    padding: 0 20px;
  }
}

#username{
  font-weight: 10;
  display: flex;
  width: 15%;
  font-size: 20px;
  align-items: center;
  justify-content: space-between;
  color: #f9fafb;
  margin-left: -860px;
}
